:root{
    /*Colores*/
    --orange:  #78e6ee;
    --soft-orange: #8ebdc5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#c1e7df;
    --font:'Josefin Sans', sans-serif;
    --color-font:#a3cef1;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--orange) 100%);
}

header img{
    width:70px;
    height: 70px;
    margin-top:50px;
    align-self: center;
}
.header--tittle-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}

.header--tittle-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--tittle-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--button{
    position:absolute;
    left: calc(50% - 118px);
    top:270px;
    display:block;
    margin-top:35px;
    padding:15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* sombras*/
    box-shadow: 0px 4px 8px rgba(83, 81, 81, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration:none;
    color:var(--black);
}

.header--button span{
    display:inline-block;
    width:13px;
    height:8px;
    margin-left:10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

/* Estilos del main */

main{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    background-color: var(--off-white);
}

.main-container{
    width:100%;
    height:auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-container--tittle{
    width:90%;
    min-width:288px;
    max-width:900px;
    margin:0 auto;
}

.backgroundImg-redes{
    width:200px;
    height:200px;
    margin:0 auto;
    margin-bottom:50px;
    background-image:url("../pics/redes_neuronales.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.main-container h2{
    margin-bottom:30px;
    font-size:2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color:var(--black);
}

.main-container p{
    margin-bottom:30px;
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.6rem;
    color:var(--grey);
}
/*tabla*/
.main-project-table{
    width:70%;
    min-width: 280px;
    max-width:500px;
    height:360px;
    margin:0 auto;
    font-family: "Inter",sans-serif;
}

.main-project-table .project-table--tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--orange);
}

.project-table--container{
    width:90%;
    min-width:230px;
    max-width: 300px;
    height:250px;
    margin:0 auto;
}

.project-table--container table{
   width: 100%;
   height: 100%;
}

.project-table--container td{
    width:50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:var(--grey);
    background-color: var(--just-white);
}

.project-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.project-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.project-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.project-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.project-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.icon{
    display:inline-block;
    width: 15px;
    height: 15px;
    margin-left:10px;
    background-image: url("../pics/note-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.date {
    width:80%;
    height: 31px;
    margin: 0 auto;
    margin-top: 15px;
    padding:8px;
    border-radius: 10px;
    background-color: var(--soft-orange);
}

.date p{
    font-family: "Inter",sans-serif;
    font-size:1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-blackblack);
}

.backgroundImg-scrappy{
    width:200px;
    height:200px;
    margin:0 auto;
    margin-bottom:50px;
    background-image:url("../pics/scrapy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

/*style 2*/
.main-container-style_2{
    width:100%;
    height:auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--black);
}

.main-container-style_2 h2{
    margin-bottom:30px;
    font-size:2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color:var(--just-white);
}

.main-container-style_2 p{
    margin-bottom:30px;
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.6rem;
    color:var(--grey);
}

nav{
    background-color:white;
    
    
}

.banner{
    display:inline-block;
    width: 100%;
    padding: 5px;
    background-color:var(--primary-color);
    
}

.titulo-parent{
    display: inline-block;
}

.logo-containt{
    display:inline-block;
    width:100px;
    height: 50px;
    
}

.titulo-containt {
    display: inline-block;
    padding: 5px;
    position:relative;
    bottom: 15px;
    left:200px;
}

.logo{
    width: 100%;
    height: 100%;
  }
  @supports(object-fit: cover){
      .logo{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

.titulo{
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
    padding: 5px;
    
}

.main-nav{
    display: flex;
    justify-content: flex-end;
}

.main-nav__item{
    display:inline-block;
}
 


.main-nav__item a{
    background-color: var(--secundary-color);
    margin: 5px;
    border-radius:2px;
    padding: 5px;
    color: var(--color-font);
    text-decoration: none;

}

.main-nav__item a::after{
    content:"||"
}

.main-nav__item a:hover{
    color: rgb(148, 73, 83);
}

.main-nav__item a:active{
    color: rgb(213, 218, 177);
}


figcaption { 
    color: bisque; 
    font-size: small;
    font-family: cursive;
    text-align: center;

}

/*figcaption que tiene como hermana adyacente una figure  */
figure + figcaption{
    color:chartreuse
}

/*figcaption que tiene como hermana general una figure y */
figure ~ figcaption{
    color:rgb(255, 145, 0)
}
main{
    display: flex;
}


aside {
    display: flex;
    height: 85vh;
    flex-direction: column;
    width: 20vw;
    background-color: var(--secundary-color);
}

aside section {
    width:15vw;
    height: 15vh;
    margin: 3vh;
}

.area-principal {
display:flex;
justify-content: space-evenly;
left: 20vw;
width: 80vw;
padding: 1rem;
background-color: rgb(242, 243, 243);
}

.item-container{
    display: inline-block;
    width: 15vw;
    height: 20vh;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 15px;
    border: rgba(14, 1, 1, 0.637) ;
    background-color: var(--terceary-color);
}

.item-tittle{
    background-color: rgb(145, 136, 184);
    width: 150px;
    text-align: center;
    position: relative;
    left: 12%;
    bottom: 10px;
}

.item-tittle p{
    color: var(--color-font);
    font-family: var(--font);
}

.imagen-item{
    margin-left: 15px;
    width: 13vw;
    height: 15vh;
}

.area-principal div{
    width: 20vw;
    height: 70vh;
    margin:30px;
    background-color: var(--terceary-color);
}

footer{
    background-color:var(--primary-color);
    height: 10vh;
    text-align: center;
}

footer a{
    margin: 200px;
  
}


